<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mot de passe oublié</title>
</head>
<body>

    <p>Dear {{ nom }} {{ prenom }},</p>
    <p>Votre nouveau mot de passe est : {{ new_password }}</p>
    <p>Cordialement,</p>
    <p>L'équipe Majesty</p>
</body>
</html>
